<% layout("layout") %>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Anasayfa <i
                                    class="ion-ios-arrow-forward"></i></a></span> <span>Galeri <i
                                class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-0 bread">Galeri</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    
                </div>
                <div class="col-md-8">
                    <h3 class="text-center">Bizimle Çalışmak İster misiniz ?</h3>
                    <br><br>
                <p>Başta Adana olmak üzere Türkiye de hayvan hakları mücadelesine yönelik etkinlik ve
                    çalışmalarda
                    bulunmak ve ÇUHAYKO
                    ÇALIŞMA GRUBU içinde yer almak isteyen gönüllüler, bizimle çalışmak isteyen arkadaşlar
                    öncelikle
                    bu konudaki
                    görüşlerimizi lütfen dikkatli bir şekilde okumalılar.</p>
                <p>Ailemize katılan gönüllülerden ricamız şudur. Size ayrılan zamanda derneğimizin çalışma
                    prensiplerine uyum
                    sağlamalarıdır.
                    Fiilî olarak çalışması süreklilik arz edecek ve verilen görevleri yapacak arkadaşlara daha
                    çok
                    ihtiyacımız var çünkü
                    belirli bir eğitimden geçmeden ÇUHAYKO içinde çalışmak mümkün değildir.</p>
                <p>Takdir edersiniz
                    ki
                    burada hayvanlarımızı alıp
                    çay kahve içme toplantıları yapmıyoruz. Gönüllü olan birçok kişinin zamanı kısıtlı olduğu
                    için
                    sizlere verilecek eğitim,
                    ayrılacak zaman bile çok değerli. Merakınız giderildikten sonra ayrılmanız bizim için çok
                    daha
                    büyük zarar oluyor çünkü
                    aynı değerli zamanı sokak hayvanları için mücadelemizde kullanabilirdik.</p>
                <p>Sadece hayvanları seviyor olmanız, hayvan sahibi olmanız, sokaktaki hayvanları besliyor olmanız
                    bizim için yeterli
                    kıstas değil. Uzunca süre bizimle birlikte olup çalışma prensiplerini anlarsanız ve takım
                    çalışmasına da yatkınsanız
                    temsilci olmanız işten bile değil.
                    Fakat şunu kesinlikle unutmayın; bu, ÇUHAYKO'nun ana çalışma prensibidir, parolasıdır:
                    ÇUHAYKO’da gönüllü olarak çalışan
                    hiç kimse gerçekleştirilmesine ortak olmayacağı bir proje sunmaz.
                    (Proje ortağı olmak, farkındalık çalışmaları, şirket destekleri, kurumsal çalışmalar ve benzeri
                    makro ölçekli projeler
                    için lütfen eposta yollayınız.</p>
                    <b>www.cuhayko@gmail.com</b>
            </div>
            </div>
        </div>
    </section>