<% layout("layout") %>
<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Anasayfa <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Hakkımızda <i
                            class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-0 bread">Hakkımızda</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-5 d-flex">
                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0"
                    style="background-image:url(http://localhost:3000/front/images/about-1.jpg);">
                </div>
            </div>
            <div class="col-md-7 pl-md-5 py-md-5">
                <div class="heading-section pt-md-5">
                    <h2 class="mb-4">Çuhayko Hakkında</h2>
                </div>
                <div class="row">
                    <div class="col-md-12 services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-stethoscope"></span></div>
                        <div class="text pl-3">
                            <h4>Tarihçemiz</h4>
                            <p>Ülkemizde hayvanların doyurulması ve korunması ile ilgili tüm alanlarda çalışma yapan
                                hayvansever bireyleri bir araya
                                getirerekTürkiye'nin sokak hayvanları sorununun etkili, insancıl ve kalıcı bir şekilde
                                çözülebilmesi için ve topluma
                                hayvan hakları konusunda ilham verebilen en güvenilir dernek olma hedefindeki çukurova
                                sokak hayvanlarını koruma ve
                                yaşatma derneği çuhayko 2019 yılında gönüllü hayvansever üyeler ve veterinerler
                                tarafından kurulmuştur. toplumda hayvan
                                sevgisi bilincini geliştirmek, hayvan hakları ihlallerinin önlenmesini sağlamak ve bu
                                doğrultuda kamuoyunu
                                bilinçlendirmek, sahipsiz sokak hayvanları başta olmak üzere tüm hayvanların öncelikle
                                yaşam hakları ile refahlarını
                                sağlamaya yönelik çalışmalar yaparakyardıma ve bakıma muhtaç hayvanların tedavilerinin
                                sağlanmasına öncülük etmek ve bu
                                alanda çalışmalar yapan bireysel ve gönüllü hayvanseverlere destek olmak için çaba
                                vermektedir.</p>
                        </div>
                    </div>
                    <div class="col-md-12 services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-customer-service"></span></div>
                        <div class="text pl-3">
                            <h4>Vizyonumuz</h4>
                            <p>Doğada yaşayan sokak hayvanlarının yardıma ve doyurulmalarına ihtiyaç kalmamış ve hiç bir hayvanın insani zevkler için
                                kullanılmadığı bir dünya vizyonuna sahip olan derneğimiz.</p>
                        </div>
                    </div>
                    <div class="col-md-12 services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="flaticon-emergency-call"></span></div>
                        <div class="text pl-3">
                            <h4>Misyonumuz</h4>
                            <p>Hayvanların, daha refah bir ortamda yaşamaları için beslenmesi, bakımı, korunması, tedavisi ve yasal haklarının
                                savunulmasına yönelik doğrudan veya dolaylı çalışmalar misyonunu ilke edinmiştir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
