<!DOCTYPE html>
<html lang="en">
<head>
  <title>ÇUHAYKO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/front/css/animate.css">
  <link rel="stylesheet" href="/front/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/front/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/front/css/magnific-popup.css">
  <link rel="stylesheet" href="/front/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/front/css/jquery.timepicker.css">
  <link rel="stylesheet" href="/front/css/flaticon.css">
  <link rel="stylesheet" href="/front/css/style.css">
</head>

<body>
  <div class="wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <p class="mb-0 phone pl-md-2">
            <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> 	0322 502 4728 </a>
            <a href="#"><span class="fa fa-paper-plane mr-1"></span> <span class="__cf_email__"> info@cuhayko.com </span></a>
          </p>
        </div>
        <div class="col-md-6 d-flex justify-content-md-end">
          <div class="social-media">
            <p class="mb-0 d-flex">
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i
                    class="sr-only">Facebook</i></span></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i
                    class="sr-only">Twitter</i></span></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i
                    class="sr-only">Instagram</i></span></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i
                    class="sr-only">Dribbble</i></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"> <img src="../../../logo.jpg" style="height: 60px;"> Çuhayko</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="/" class="nav-link">Anasayfa</a></li>
          <li class="nav-item"><a href="/hakkimizda" class="nav-link">Hakkımızda</a></li>
          <li class="nav-item"><a href="/galeri" class="nav-link">Galerİ</a></li>
          <li class="nav-item"><a href="/video" class="nav-link">Vİdeo Galerİ</a></li>
          <!-- <li class="nav-item"><a href="/bagis" class="nav-link"><i class="fa fa-heart"></i> DESTEK OL</a></li> -->
          <li class="nav-item"><a href="/iletisim" class="nav-link">İLETİŞİM</a></li>
          <li class="nav-item"><a href="/login" class="nav-link"> <i class="fa fa-user"></i> PATİ KART GİRİş </a></li>
        </ul>
      </div>
    </div>
  </nav>

  <%- body %> 
 
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">Çuhayko</h2>
          <p>Hayvanların, daha ferah bir ortamda yaşamaları için beslenmesi, bakımı, korunması, tedavisi ve yasal haklarının
            savunulmasına yönelik doğrudan veya dolaylı çalışmalar misyonunu ilke edinmiştir.</p>
          <ul class="ftco-footer-social p-0">
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span
                  class="fa fa-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span
                  class="fa fa-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span
                  class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">Tweetler</h2>
          <!-- <div class="block-21 mb-4 d-flex">
            <a class="img mr-4 rounded" style="background-image: url(http://localhost:3000/front/images/image_1.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> April 7, 2020</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
          <h2 class="footer-heading">Sayfa Linkleri</h2>
          <ul class="list-unstyled">
            <li><a href="/" class="py-2 d-block">Anasayfa</a></li>
            <li><a href="/hakkimizda" class="py-2 d-block">Hakkımızda</a></li>
            <li><a href="/galeri" class="py-2 d-block">Galeri</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">İletişim Bilgileri</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon fa fa-map"></span><span class="text">Onur Mahallesi - Turhan Cemal Beriker Bulv. - Kiza İş Merkezi A/2 Blok Kat:2 Daire:202 Seyhan/ADANA</span></li>
              <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">0322 502 4728</span></a></li>
              <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">0544 976 33 01</span></a></li>
              <li><a href="#"><span class="icon fa fa-paper-plane"></span>info@cuhayko.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <p class="copyright">
            Copyright &copy; Tüm hakları saklıdır. <a href="#">Cuhayko.com</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" /></svg></div>
  <script src="../../../front/js/jquery.min.js"></script>
  <script src="../../../front/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="../../../front/js/popper.min.js"></script>
  <script src="../../../front/js/bootstrap.min.js"></script>
  <script src="../../../front/js/jquery.easing.1.3.js"></script>
  <script src="../../../front/js/jquery.waypoints.min.js"></script>
  <script src="../../../front/js/jquery.stellar.min.js"></script>
  <script src="../../../front/js/jquery.animateNumber.min.js"></script>
  <script src="../../../front/js/bootstrap-datepicker.js"></script>
  <script src="../../../front/js/jquery.timepicker.min.js"></script>
  <script src="../../../front/js/owl.carousel.min.js"></script>
  <script src="../../../front/js/jquery.magnific-popup.min.js"></script>
  <script src="../../../front/js/scrollax.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
  <script src="../../../front/js/google-map.js"></script>
  <script src="../../../front/js/main.js"></script>
</body>
</html>