<% layout("layout") %>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>Aramıza katılmak ister misiniz ?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ftco-animate">
                <div class="block-7">
                    <div class="text-center p-4">
                        <span class="excerpt d-block">GİRİŞ YAP</span>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Mail adresi">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Şifre">
                        </div>
                        <a href="#" class="btn btn-primary d-block px-2 py-3">Giriş Yap</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ftco-animate">
                <div class="block-7">
                    <div class="text-center p-4">
                        <span class="excerpt d-block">SİZİN HALA PATİ KARTINIZ YOK MU ?</span>

                        <img src="https://via.placeholder.com/400" alt="">
                        <a href="#" class="btn btn-primary d-block px-2 py-3">PATİ KART SATIN AL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>